@model OneStopRecruitment.Areas.RegistrationArea.ViewModels.Main.RegistrationViewModel
@using Model.DBConstraint
@{
    ViewData["Title"] = "Registration Form";
    Layout = null;

    var ErrorMessage = Convert.ToString(TempData["ErrorMessage"]) ?? "";
    var SuccessMessage = Convert.ToString(TempData["SuccessMessage"]) ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i|Material+Icons">
    <link rel="stylesheet" href="~/assets/uni/login/css/style.css">
    <link rel="stylesheet" href="~/assets/uni/bootstrap/css/style.css">
    <link rel="stylesheet" href="~/dev/css/style.css">
    <link rel="stylesheet" href="~/dev/css/color.css">
</head>
<body>
    <div class="site" id="page">
        <section class="M--login type--1 U--fixed-layout">
            <div class="login__wrapper U--table -full-height">
                <div class="login__box table__cell -vertical-align--middle">
                    <div class="register__container">
                        <div class="login__card C--card type--1 -remove-padding">
                            <header class="login__header">
                                <div class="U--table">
                                    <div class="table__cell -auto-width">
                                        <span class="ribbon"></span>
                                    </div>
                                    <div class="table__cell">
                                        <a asp-area="LoginArea" asp-controller="Auth" asp-action="Index" class="header__logo">
                                            <img src="~/images/login/itdivision.png" class="itdiv-logo" alt="@ConstantConstraint.COMPANY_NAME" width="207" height="72">
                                        </a>
                                    </div>
                                </div>
                            </header>
                            <div class="login__subheader">
                                <span>@ViewData["Title"]</span>
                            </div>
                            <div class="login__body">
                                <form asp-area="RegistrationArea" asp-controller="Main" asp-action="Register" onsubmit="showFormLoader();" class="login__form" method="POST" autocomplete="off">
                                    @Html.AntiForgeryToken()
                                    @if (ErrorMessage != "")
                                    {
                                        <div id="errorMessage" class="C--alert type--1 -is-custom-error margin-alert">
                                            <span class="alert__label">
                                                @ErrorMessage
                                            </span>
                                        </div>
                                    }
                                    else if (SuccessMessage != "")
                                    {
                                        <div id="successMessage" class="C--alert type--1 -is-custom-success margin-alert">
                                            <span class="alert__label">
                                                @SuccessMessage
                                            </span>
                                        </div>
                                    }
                                    <div class="form__field">
                                        <div class="C--groupbox type--1">
                                            <span class="groupbox__wrapper U--table">
                                                <span class="groupbox__login table__cell -vertical-align--middle -auto-width">
                                                    <i class="material-icons">person</i>
                                                </span>
                                                <span class="groupbox__component table__cell">
                                                    <input class="groupbox__textbox" type="text" placeholder="NIM" asp-for="@Model.Registration.NIM">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form__field">
                                        <div class="C--groupbox type--1">
                                            <span class="groupbox__wrapper U--table">
                                                <span class="groupbox__login table__cell -vertical-align--middle -auto-width">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <span class="groupbox__component table__cell">
                                                    <input class="groupbox__textbox" type="email" placeholder="Active Email" asp-for="@Model.Registration.Email">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form__field">
                                        <div class="C--groupbox type--1">
                                            <span class="groupbox__wrapper U--table">
                                                <span class="groupbox__login table__cell -vertical-align--middle -auto-width">
                                                    <i class="material-icons">work</i>
                                                </span>
                                                <span class="groupbox__component table__cell">
                                                    <select class="groupbox__textbox" asp-for="@Model.Registration.IDPosition" asp-items="@Model.PositionList">
                                                        <option value="" selected disabled hidden>@DropdownConstraint.Position</option>
                                                    </select>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form__action">
                                        <button type="submit" class="C--button type--1 -theme-primary -full-width">
                                            Submit
                                        </button>
                                    </div>
                                    <div id="formLoader" class="form__loader" style="display: none;">
                                        <span class="C--loader type--1 -theme-primary"></span>
                                        <span class="progress-text">@AlertConstraint.Registration.Registering</span>
                                    </div>
                                </form>
                            </div>
                            <footer class="login__footer">
                                <ul class="footer__links">
                                    <li class="link__item">
                                        <a asp-area="LoginArea" asp-controller="Auth" asp-action="Index">Back to Login</a>
                                    </li>
                                </ul>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/uni/login/js/script.js"></script>
    <script src="~/dev/js/script.js"></script>
</body>
</html>